html, body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 48px;
}


p {
  max-width: 95%;
  /*min-width: 500px;*/
}

h3 {
	font-size: 25px
}

h2 {
  text-align: center;
  font-size: 2.6rem;
}

div {
  
  height: 100%;
  width: 100%;
}

video {
  background-color: #000000;
  border: 2px solid black;
}

.container {
  display: flex;
}

.main {
	background-color: #8c8ef6;
  /*padding-left: 20px;*/
  min-width: 50%;
  max-width: 50%;
}

.nav {
  background-color: #a8aaf9;
  max-width: 25%;
  min-width: 25%;
  /*padding-right: 50px;*/
  flex: 1;
  font-size:13px;
  list-style-type:none;
}

.nav h2 {
  /*padding-left: 20px;*/
  font-size: 23px;
  text-align: center;
  color: #597067;
}
.main p{
	color:black ;
	font-family:"Arial Bold";
	font-size: 17px;
	

	
}
.main p,h1,h3{
	padding-left: 20px;
}
.nov h2{
color: #597067;
font-size: 23px;

}
.nov{
	background-color: #8c8ef6;
	max-width: 25%;
	min-width: 25%;
	
}
.nov ul{
	color:#3e4e48;
	list-style-type: circle;
}
.nav ul{
	color:#3e4e48;
	list-style-type: circle;
}
.main h3{
	color: lightgray;
	font-family: "Arial Bold";
}
.main h1 {
	color:lightgray ;
	font-family:"Arial Bold";
}
 ul.flatnav {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	background-color:pink;
 	width: 100%;
 	display: table;
 }
 li.flatnav {
 text-align:center;
 float: left;
 background-color:pink;
 padding:5px;
 display:table-cell;
 
 }

 li.flatnav a {
 	display:block;
 	width:60px;
 	color:#4e8d65;
 	padding-left:8px;
 	padding-right:8px;
 }

li.flatnav a:hover {
	background-color: #2b41ae;
	color:lightgray;
}

li a.active {
	
	color:#DB6DB3;
}

.comp {
	color:#98b468
	background-color:#98b468;
}
.dino {
	color:#b65050;
}

<body style="background-image:url(maxresdefualt.jpg)">
